* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frameParent1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.backgroundSection1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backgroundImage1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoSection1 {
  margin: 30px;
}

.logoImage1 {
  width: 200px;
  height: auto;
}

.contentSection1 {
  width: 100%;
  text-align: center;
  background-color: rgba(240, 188, 91, 0.85); /* Adjust opacity if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.contentText1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  z-index: 1;
}

.gifContainer1 {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  z-index: 1;
}

.gifImage1 {
  width: 100%;
  height: auto;
}
