* {
  margin: 0px;
  padding: 0px;
}

/* Global styles */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.pageContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.par {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-image: url('/public/backgroundImage_2.png'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100%;
}

.frameParent {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-grow: 1;
}

/* Image and logo styles */
.logodiv {
  padding: 10px;
  margin: 10px;
}

.orangewoodLogo {
  width: 200px;
  height: auto;
  object-fit: contain;
  z-index: 1;
}

/* Card container styles */
.rectangleParent {
  min-height: 450px;
  width: 300px;
  border-radius: 30px;
  box-shadow: 0 3px 17.1px rgba(0, 0, 0, 0.25);
  background: linear-gradient(180deg, #e6e6e6, #ffcc91 50%, #fffac9); /* Add gradient */
  overflow: hidden; /* Prevent child elements from overflowing */
}

/* Image inside card */
.cardImage {
  margin-top: 10px;
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* Title styles */
.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  padding-top: 0px;
}

/* Description styles */
.cardDescription {
  font-size: 1rem;
  text-align: center;
  margin: 20px;
}

/* Order button styles */
.orderNowButton {
  width: 100%;
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  background: linear-gradient(105.2deg, rgb(255, 78, 78) 11.2%, rgb(253, 176, 71) 117.9%);
  color: var(--color-white);
  font-weight: bold;
  font-size: large;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
