* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.frameParent1 {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.backgroundSection1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.backgroundImage1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logoSection1 {
  margin: 30px;
}

.logoImage1 {
  width: 200px;
  height: auto;
}

.contentSection1 {
  width: 100%;
  text-align: center;
  background-color: rgba(240, 188, 91, 0.85); /* Adjust opacity if needed */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  flex-grow: 1;
}

.contentText1 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  z-index: 1;
}

.gifContainer1 {
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  z-index: 1;
}

.gifImage1 {
  width: 100%;
  height: auto;
}


/* .thankYouPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  
}

.thankYouMessage {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  max-width: 500px;
  width: 90%;
}

.closeButton {
  position: absolute;
  top:0px;
  right: 5px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 20;
} */

.thankYouPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  backdrop-filter: blur(5px); /* Blur background */
}

.thankYouMessage {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Add shadow for depth */
  animation: popupAnimation 0.5s ease; /* Popup animation */
}

.closeButton {
  position: absolute;
  top: 0px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #888; /* Close button color */
}

.blurBackground {
  filter: blur(5px); /* Apply blur to the background */
}

@keyframes popupAnimation {
  from {
    opacity: 0;
    transform: scale(0.7);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}