.backgroundImage {
  position: absolute;
  top: -1.6px;
  left: -27px;
  width: 100%; /* Updated */
  height: auto; /* Updated */
  object-fit: contain;
  mix-blend-mode: multiply;
  cursor: pointer;
  z-index: 1;
}

.orangewoodLogo {
  position: absolute;
  top: 2%; /* Updated */
  left: 1%; /* Updated */
  width: 200px; /* Updated */
  height: auto; /* Updated */
  object-fit: contain; /* Updated */
  z-index: 2;
}

.od4fw004Parent {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 0 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.frameChild {
  width: 90%; /* Updated */
  height: auto; /* Updated */
  max-width: 1139px; /* Added */
  background-color: var(--color-goldenrod);
  display: none;
  margin: 0 auto; /* Added */
}

.weArePreparing {
  position: relative;
  z-index: 2;
  color: orange;
}

.geniusGifCoffeeOclock1 {
  max-width: 100%; /* Updated */
  height: auto; /* Updated */
  object-fit: contain; /* Updated */
  z-index: 2;
}

.geniusGifClock {
  width: 90%; /* Updated */
  max-width: 544px; /* Updated */
  height: auto; /* Updated */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin: 0 auto; /* Added */
}

.rectangleParent {
  align-self: stretch;
  background-color: var(--color-goldenrod);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10% 5%; /* Updated */
  gap: 5%; /* Updated */
  max-width: 100%;
  text-align: left;
  font-size: 5vw; /* Updated */
  color: var(--color-white);
  font-family: var(--font-inter);
}

.frameParent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 5%; /* Updated */
  box-sizing: border-box;
  letter-spacing: normal;
}

@media screen and (max-width: 750px) {
  .weArePreparing {
    text-align: center;
    font-size: 32px;
  }
}

@media screen and (max-width: 675px) {
  .rectangleParent {
    padding: 20% 5%; /* Updated */
    gap: 10%; /* Updated */
  }
}

@media screen and (max-width: 450px) {
  .weArePreparing {
    font-size: 24px;
  }
}
