.coffeeTypesChild {
  height: 46px;
  width: 175px;
  position: relative;
  border-radius: 9px;
  background-color: #e8e8e8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}
.latteCoffee {
  position: relative;
  font-size: 12px;
  font-family: Inter;
  color: #000;
  text-align: left;
  display: inline-block;
  min-width: 71px;
  z-index: 2;
}
.coffeeTypes {
  cursor: pointer;
  border: none;
  padding: 16px 41px 15px;
  background-color: #e8e8e8;
  align-self: stretch;
  border-radius: 9px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 1;
}
.coffeeTypes:hover {
  background-color: #cfcfcf;
}
.guideToLatteArtChild {
  width: 175px;
  height: 239px;
  position: relative;
  border-radius: 14px;
  background-color: #fff;
  border: 0.5px solid #000;
  box-sizing: border-box;
  display: none;
}
.images3Icon {
  height: 148px;
  flex: 1;
  position: relative;
  border-radius: 23px;
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
  z-index: 2;
}
.aguidetolatteart {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0px 19px;
}
.latteS {
  position: relative;
  font-weight: 500;
  display: inline-block;
  min-width: 50px;
  z-index: 2;
}
.treatYourselfWith {
  margin: 0;
}
.andSophistic {
  margin: 0;
}
.treatYourselfWithContainer {
  position: relative;
  font-size: 8px;
  z-index: 2;
}
.guideToLatteArt {
  align-self: stretch;
  flex: 1;
  border-radius: 14px;
  background-color: #fff;
  border: 0.5px solid #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px 18px 17px;
  gap: 9.5px;
  z-index: 1;
}
.coffeeTypesParent {
  align-self: stretch;
  width: 175px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.frameParent {
  align-self: stretch;
  width: 731px;
  overflow-x: auto;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  max-width: 100%;
  text-align: left;
  font-size: 12px;
  color: #000;
  font-family: Inter;
}
